In [1]:
import pandas as pd
df= pd.read_csv('titanic.csv')

In [2]:
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Fare','Cabin','Embarked'],axis='columns',inplace=True)

In [5]:
df

     Pclass     Sex   Age  Survived
0         3    male  22.0         0
1         1  female  38.0         1
2         3  female  26.0         1
3         1  female  35.0         1
4         3    male  35.0         0
..      ...     ...   ...       ...
886       2    male  27.0         0
887       1  female  19.0         1
888       3  female   NaN         0
889       1    male  26.0         1
890       3    male  32.0         0

[891 rows x 4 columns]

In [28]:
target = df.Survived
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [7]:
input = df.drop('Survived',axis= 'columns' )

In [9]:
dummies = pd.get_dummies(input.Sex)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [10]:
input= pd.concat([input,dummies],axis='columns')

In [11]:
input

     Pclass     Sex   Age  female  male
0         3    male  22.0       0     1
1         1  female  38.0       1     0
2         3  female  26.0       1     0
3         1  female  35.0       1     0
4         3    male  35.0       0     1
..      ...     ...   ...     ...   ...
886       2    male  27.0       0     1
887       1  female  19.0       1     0
888       3  female   NaN       1     0
889       1    male  26.0       0     1
890       3    male  32.0       0     1

[891 rows x 5 columns]

In [29]:
input.drop(['Sex'],axis='columns',inplace= True)

In [30]:
input.columns[input.isna().any()]

Index([], dtype='object')

In [31]:
input.isnull().sum()

Pclass    0
Age       0
female    0
male      0
dtype: int64

In [32]:
input.Age =  input.Age.fillna(input.Age.mean())

In [33]:
input

     Pclass        Age  female  male
0         3  22.000000       0     1
1         1  38.000000       1     0
2         3  26.000000       1     0
3         1  35.000000       1     0
4         3  35.000000       0     1
..      ...        ...     ...   ...
886       2  27.000000       0     1
887       1  19.000000       1     0
888       3  29.699118       1     0
889       1  26.000000       0     1
890       3  32.000000       0     1

[891 rows x 4 columns]

In [34]:
input.mad

<bound method NDFrame._add_numeric_operations.<locals>.mad of      Pclass        Age  female  male
0         3  22.000000       0     1
1         1  38.000000       1     0
2         3  26.000000       1     0
3         1  35.000000       1     0
4         3  35.000000       0     1
..      ...        ...     ...   ...
886       2  27.000000       0     1
887       1  19.000000       1     0
888       3  29.699118       1     0
889       1  26.000000       0     1
890       3  32.000000       0     1

[891 rows x 4 columns]>

In [41]:
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(input,target,test_size=0.3)

In [42]:
x_train

     Pclass        Age  female  male
657       3  32.000000       1     0
139       1  24.000000       0     1
662       1  47.000000       0     1
570       2  62.000000       0     1
112       3  22.000000       0     1
..      ...        ...     ...   ...
287       3  22.000000       0     1
735       3  28.500000       0     1
618       2   4.000000       1     0
766       1  29.699118       0     1
285       3  33.000000       0     1

[623 rows x 4 columns]

In [43]:
from sklearn.naive_bayes import GaussianNB
node = GaussianNB()

In [44]:
node.fit(x_train,y_train)

GaussianNB()

In [45]:
node.score(x_test,y_test)

0.8171641791044776